.button {
    -fx-background-color: linear-gradient(to bottom, #f0f8ff, #ffffff);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(black, gray);
    -fx-font-size: 12px;
}

.anchor-pane {
    -fx-background-color: white;
}

.anchor-pane-image {
    -fx-background-color: white;
}


.progress-bara .bar{
    -fx-background-color: linear-gradient(#00C0EB, #0083C9);
}

.progress-bara > .track {
    -fx-control-inner-background: white;
}

.progress-bar-red .bar{
    -fx-background-color:
        linear-gradient(#E60505, #B80000);
}

.progress-bar-red > .track {
    -fx-control-inner-background: white;
}